@import url('https://db.onlinewebfonts.com/c/06d0fb8eb5251a7dba7660fab5d2f0f9?family=Formula1+Display+Bold+Bold');

.container {
    display: flex;
    justify-content: center;
}

.buttonContainer {
    display: flex;
    align-items: center;
}

.buttonNext,
.buttonPrev {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
    cursor: pointer;
    margin: 2em;
    border: none;
    background: #fff;
    border-radius: 0 0 10px 0;
}

.buttonNext:hover,
.buttonPrev:hover{
    background: #000;
}

.svg{
    color: red;
}

.input {
    font-family: "Formula1 Display Bold Bold";
    height: 30px;
    width: 20px;
    text-align: center;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 1em;
}

.input:focus{
    outline: none;
}

.buttonPrev[disabled], .buttonNext[disabled] {
    filter: brightness(0.5);
    cursor: not-allowed;
}

.p{
    font-family: "Formula1 Display Bold Bold";
    color: white;
}