@import url('https://db.onlinewebfonts.com/c/06d0fb8eb5251a7dba7660fab5d2f0f9?family=Formula1+Display+Bold+Bold');
@import url('https://db.onlinewebfonts.com/c/099e7af756374661ebf92e54739ea1c3?family=Orgon+W03+Bold');

.container {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 12vh;
  background-image: url('../../assets/background1.jpg');
}

.h1 {
  font-family: "Formula1 Display Bold Bold";
  color: #ebeaea;
  margin-left: 0.6em;
  line-height: 0;
}

.line {
  width: 6.5em;
  height: 8px;
  background-color: #e00504;
}

.h2{
  font-family: "Orgon W03 Bold";
  margin-left: .7em;
  margin-right: .7em;
  margin-bottom: 0;
  color: #0d1117;
  font-size: 1.3em;
}

.img {
  display: none;
}

.filters{
  margin-top: 1em;
}

.orderDesktop{
  display: none;
}

.data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  height: 2em;
  background-image: url('../../assets/background3.jpg');
}

.dataOrder{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5em;
  margin-left: 1em;
  margin-right: 1em;
  height: 2em;
  background-image: url('../../assets/background3.jpg');
}

.section {
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

.h3,
.nationality {
  font-family: "Formula1 Display Bold Bold";
  color: #fff;
  margin-left: 1em;
  margin-right: 1em;
  font-size: .8em;
}

@media screen and (min-width: 820px) {

  .content{
    height: 20vh;
  }

  .h1{
    font-size: 3.5em;
  }

  .line{
    width: 12%
  }

  .h2{
    margin-left: 1.5em;
  }

  .img{
    display: block;
    height: 100%;
  }

  .dataOrder{
    display: none;
  }

  .orderDesktop{
    display: block;
  }

  .section,
  .data {
    margin-left: 2em;
    margin-right: 2em;
  }

  .nationality {
    font-size: 1em;
  }

  .h3{
    font-size: 1em;
  }

  .filters{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
    margin-bottom: 1em;
  }
}