@import url('https://db.onlinewebfonts.com/c/099e7af756374661ebf92e54739ea1c3?family=Orgon+W03+Bold');

.container {
  display: flex;
  flex-direction: column;
}

.masthead {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 12vh;
  background-image: url('../../assets/background1.jpg');
}

.mastheadTitle {
  color: #ebeaea;
  margin-left: 0.6em;
  line-height: 0;
}

.img {
  display: none;
}

.divider {
  width: 6.5em;
  height: 8px;
  background-color: #e00504;
}

.welcomeTitle{
  font-family: "Orgon W03 Bold";
  margin-left: .7em;
  margin-right: .7em;
  margin-bottom: 0;
  color: #0d1117;
  font-size: 1.3em;
}

.filterContent{
  margin-top: 1em;
}

.orderSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  height: 2em;
  background-image: url('../../assets/background3.jpg');
}

.driverText,
.nationalityText {
  color: #fff;
  margin-left: 1em;
  margin-right: 1em;
  font-size: .8em;
}

.orderForDesktop{
  display: none;
}

.orderForMobile{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5em;
  margin-left: 1em;
  margin-right: 1em;
  height: 2em;
  background-image: url('../../assets/background3.jpg');
}

.driverSection {
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
}



@media screen and (min-width: 820px) {

  .masthead{
    height: 20vh;
  }

  .mastheadTitle{
    font-size: 3.5em;
  }

  .img{
    display: block;
    height: 100%;
  }

  .divider{
    width: 12%
  }

  .welcomeTitle{
    margin-left: 1.5em;
  }

  .filterContent{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
    margin-bottom: 1em;
  }

  .driverSection,
  .orderSection {
    margin-left: 2em;
    margin-right: 2em;
  }

  .driverText,
  .nationalityText{
    font-size: 1em;
  }

  .orderForDesktop{
    display: block;
  }

  .orderForMobile{
    display: none;
  }

}