@import url('https://db.onlinewebfonts.com/c/06d0fb8eb5251a7dba7660fab5d2f0f9?family=Formula1+Display+Bold+Bold');

.selectContent{
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;
  margin-right: 1em;
}

.input {
  display: flex;
  justify-content: center;
}

.value {
  font-family: "Formula1 Display Bold Bold";
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 10px;
  color: #e00504;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  border-bottom: 2px solid #e00504;
  border-radius: 3px 3px 0 0;
  flex-grow: 1;
}

.value.selected{
  color: #fff;
  background-image: url('../../assets/background3.jpg');
}

.select{
  font-family: "Formula1 Display Bold Bold";
  font-weight: 600;
  background-color: #2c2c2c;
  background-image: url('../../assets/background3.jpg');
  color: #fff;
  cursor: pointer;
  height: 2.2em;
  border-radius: 3px;
  width: 10em;
}

.select::-webkit-scrollbar {
  width: 12px;              
}

.select::-webkit-scrollbar-track {
  background: transparent;       
}

.select::-webkit-scrollbar-thumb {
  background-color: #fff;   
  border-radius: 20px;       
  border: 3px solid #fff; 
}

@media screen and (min-width: 768px) {
  .value, .select{
    font-size: 1em;
  }
}