.container {
    display: flex;
    align-items: center;
    background: #fff;
    width: 100vw;
    height: 8vh;
}

.logo {
    width: 70px;
    height: 15px;
    padding-left: 10px;
}

.link {
    font-family: 'Titillium Web', sans-serif;
    color: #e10701;
    text-decoration: none;
    margin-left: 1em;
    font-size: 0.8em;
    transition: .3s;
    font-weight: bold;
}

.searchContent {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

@media only screen and (min-width: 768px) {
    .container {
        height: 12vh;
    }

    .logo {
        width: 90px;
        height: 20px;
        padding-left: 2em;
    }

    .link {
        font-size: 1.2em;
    }

    .link:hover {
        color: #0d1117;
    }

    .searchContent {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        width: 300px;
    }
}