@import url('https://db.onlinewebfonts.com/c/06d0fb8eb5251a7dba7660fab5d2f0f9?family=Formula1+Display+Bold+Bold');

.container {
  display: flex;
  flex-direction: column;
}

.masthead {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 12vh;
  background-image: url('../../assets/background1.jpg');
}

.mastheadTitle {
  font-family: "Formula1 Display Bold Bold";
  color: #ebeaea;
  margin-left: 0.6em;
  line-height: 0;
}

.img{
  display: none;
}

.divider {
  width: 6.5em;
  height: 8px;
  background-color: #e00504;
}

@media screen and (min-width: 768px){
  .masthead{
    height: 20vh;
  }

  .mastheadTitle{
    font-size: 3.5em;
  }

  .img{
    display: block;
    height: 100%;
  }

  .divider{
    width: 12%
  }
}