@import url('https://db.onlinewebfonts.com/c/06d0fb8eb5251a7dba7660fab5d2f0f9?family=Formula1+Display+Bold+Bold');
@import url('https://db.onlinewebfonts.com/c/099e7af756374661ebf92e54739ea1c3?family=Orgon+W03+Bold');


.container {
  display: flex;
  flex-direction: column;
}

.container2 {
  position: relative;
  width: 100vw;
  height: 850px;
  background-color: #0d1117;
}

.div_video {
  position: absolute;
  width: 100%;
  height: 100%;
}

.video {
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
}

.logo {
  width: 250px;
  height: 50px;
}

.h2 {
  font-family: "Formula1 Display Bold Bold";
  color: #fff;
  font-size: 2.5em;
  margin-top: 0;
  margin-bottom: 1em;
  text-align: center;
}

.divButtons {
  display: flex;
  flex-direction: column;
}

.button,
.button1 {
  font-family: "Formula1 Display Bold Bold";
  background-color: #e00504;
  border: none;
  cursor: pointer;
  width: 18em;
  height: 3.5em;
  margin: 0.4em;
  color: #fff;
}

.button1 {
  background-color: #fff;
  color: #e00504;
  font-weight: bold;
}

.line {
  width: 25%;
  height: 8px;
  background-color: #e00504;
  color: transparent;
}

.teams {
  width: 35px;
}

.div_wellcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: #e00504; */
  align-items: center;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 2em;
}

.wellcome {
  font-family: "Formula1 Display Bold Bold";
  font-size: 3.5em;
  color: #0d1117;
  margin-bottom: 0;
}

.p {
  font-family: "Orgon W03 Bold";
  color: #0d1117c4;
  padding-left: 1em;
  padding-right: 1em;
}

.button3 {
  font-family: "Formula1 Display Bold Bold";
  background-image: url('../../assets/background3.jpg');
  border: none;
  cursor: pointer;
  width: 18em;
  height: 3.5em;
  margin: 0.4em;
  color: #fff;
}

.div_create{
  height: 500px;
  background-image: url(../../assets/eyJidWNrZXQiOiJmcm9udGllci1jbXMiLCJrZXkiOiIyMDIzLTA1L2YxbTIzLWFubm91bmNlLXRyYWlsZXItc2NyZWVuc2hvdC0wMV8xOTIweDEwODAuanBnIiwiZWRpdHMiOnsicmVzaXplIjp7IndpZHRoIjoxOTIwfX19.jpg);
  background-size: cover;
  margin-top: 2em;
  margin-bottom: 2em;
  background-position: center;
  border-top: 3px solid #e00504;
  mask-image: linear-gradient(
    to bottom,
    white 60%,
    transparent 95%
  );
  padding-left: 1em;
  padding-right: 1em;
}

.create{
  font-family: "Formula1 Display Bold Bold";
  color: #fff;
}

.div_p_create{
  width: 70%;
}

.p_create{
  font-family: "Formula1 Display Bold Bold";
  color: #fff;
}

.div_technologies{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.technologies{
  font-family: "Formula1 Display Bold Bold";
  font-size: 2em;
  color: #0d1117;
  margin-bottom: .5em;
}

.line_title {
  width: 100px;
  height: 12px;
  background-color: #e00504;
  color: transparent;
}

.div_logos{
  display: flex;
  flex-wrap: wrap;
  margin-left: 1em;
  margin-top: 4em;
  margin-bottom: 2em;
}

.logos_content{
  display: flex;
  justify-content: center;
  background-image: url('../../assets/background3.jpg');
  margin: 1em 1em;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  align-items: center;
}

.logos_tech{
  cursor: pointer;
  width: 80px;
}

.footer{
  margin-top: 2em;
  display: flex;
  justify-content: flex-end;
  background-color: #0d1117;
  border-bottom: 4px solid rgb(255, 102, 0);
}

.p_footer{
  font-family: "Orgon W03 Bold";
  color: #cfcfcf;
  padding-right: 10px;
}

@media only screen and (min-width: 768px) {

  .container2 {
    height: 600px;
  }

  .logo {
    height: 100px;
    width: 450px;
  }

  .h2 {
    font-size: 5em;
    margin-bottom: .5em;
  }

  .divButtons {
    flex-direction: row;
  }

  .button:hover,
  .button1:hover {
    color: #0d1117;
  }

  .wellcome {
    font-size: 7em;
    margin-top: .2em;
  }

  .p {
    font-size: 1.5em;
  }

  .technologies{
    font-size: 2.5em;
  }

  .create{
    font-size: 3em;
  }
}