@import url('https://db.onlinewebfonts.com/c/06d0fb8eb5251a7dba7660fab5d2f0f9?family=Formula1+Display+Bold+Bold');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Signika&display=swap');

.container{
    width: 100vw;
    height: 88vh;
    display: flex;
    justify-content: center;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: #fff; */
    align-items: center;
}

.p{
    font-family: 'Signika', sans-serif;
    color: #e00404d7;
    font-size: 2em;
}

.h1{
    margin: 0;
    margin-top: 0.3em;
    margin-bottom: 1em;
    font-family: "Formula1 Display Bold Bold";
    font-size: 6em;
    text-align: center;
}

.button{
    font-family: "Formula1 Display Bold Bold";
    background-image: url('../../assets/background3.jpg');
    border: none;
    cursor: pointer;
    border-radius: 3px;
    color: #fff;
    width: 20em;
    height: 2.2em;
    font-size: 1.1em;
}