@import url('https://db.onlinewebfonts.com/c/06d0fb8eb5251a7dba7660fab5d2f0f9?family=Formula1+Display+Bold+Bold');
@import url('https://db.onlinewebfonts.com/c/099e7af756374661ebf92e54739ea1c3?family=Orgon+W03+Bold');

.masthead {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 12vh;
  background-image: url('../../assets/default-media.svg');
  mask-image: linear-gradient(
    to bottom,
    white 5%,
    transparent 95%
  );
}

.mastheadTitle {
  font-family: "Formula1 Display Bold Bold";
  color: #ebeaea;
  margin: 0;
  margin-left: 0.6em;
}

.formContainer {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  width: 100vw;
}

.sectionForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
}

.labelText{
  display: flex;
  width: 100%;
  margin-bottom: .3em;
  font-family: "Orgon W03 Bold";
  color: #fff;
}

.label {
  display: flex;
  width: 100%;
  margin-bottom: .5em;
}

.input {
  font-family: "Formula1 Display Bold Bold";
  width: 100%;
  height: 2.5em;
  border: 1px solid #0d1117;
  padding-left: .5em;
}

.input::placeholder{
  color: #0d11176e;
}

.selectNationality {
  font-family: "Formula1 Display Bold Bold";
  height: 2.5em;
  border: 1px solid #0d1117;
  width: 100%;
  padding-left: .5em;
}

.select {
  font-family: "Formula1 Display Bold Bold";
  width: 100%;
  border: 1px solid #0d1117;
  height: 2.5em;
}

.select::-webkit-scrollbar {
  width: 12px;              
}

.select::-webkit-scrollbar-track {
  background: transparent;       
}

.select::-webkit-scrollbar-thumb {
  background-color: #0d1117;   
  border-radius: 20px;       
  border: 3px solid #0d1117; 
}

.button {
  font-family: "Formula1 Display Bold Bold";
  width: 10em;
  height: 3em;
  border: none;
  cursor: pointer;
  background-color: #e00504;
  color: #fff;
  transition: 1s;
  margin-top: 2em;
  border-radius: 0 0 10px 0;
}

/* .error {
  border: 1px solid red;
}

.success {
  border: 1px solid green;
} */

@media screen and (min-width: 768px) {
  .masthead {
    height: 20vh;
  }

  .mastheadTitle {
    font-size: 3.5em;
  }

  .select{
    height: 10em;
  }

  .button {
    margin-bottom: 1em;
  }
}